<% # All inside class .item-box %>

<% content_for :video_box, flush: true do  %>

<ul>
  <li>

	  <div class='videos-first-line'>

      <header>
        <h3 class='video-quote' data-role='video_quote'>
	        <%= video.quote %>
        </h3>
      </header>

      <h4 class='video-category' data-role='video_category'>
	      <%= video.category %>
      </h4>

      <h2 class='inline-interviewee-name' data-role='interviewee_name'>
				<%= link_to video.interviewee.name, 
					          interviewees_profile_path(video.interviewee) %>
      </h2>

		</div>

		<div class='videos-second-line'>

      <div class='video-box'></div>

		</div>

	 
    <ul class='video-links'>
      <li>Vimeo</li>
      <li>YouTube</li>
    </ul>


    <p class='video-description' data-role='video_description'>
      <%= video.description %>
    </p>


  </li>
</ul>

<% end %>

<%= render 'shared/list_item' %>
