<h1 class='user-profile-name'><%= @interviewee.name %></h1>

<%= image_tag @interviewee.user_pic.url  %>

<h2 class='user-profile-twitter-handle'><%= @interviewee.twitter_handle %></h2>

<h2 class='user-profile-weblink'><%= @interviewee.weblink %></h2>

<p class='user-profile-about-text'><%= @interviewee.about_text %></p>
