<% @videos.each do |video| %>

  <ul>
		<li class='video'>
		  <h3 data-role='video_quote'><%= video.quote %></h3>
		  <h4 data-role='video_category'><%= video.category %></h3>
			<h2 data-role='interviewee_name'><%= video.interviewee.name %></h2>
			<p data-role='video_description'><%= video.description %></p>
		</li>
	</ul>

<% end %>

<%= paginate @videos %>
